@model AccountViewModel

@{
    ViewData["Title"] = "Delete account";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="alert alert-danger" role="alert">
        <form asp-controller="Accounts" asp-action="ConfirmDelete">
            <input type="hidden" asp-for="Id" />
            <h4 class="alert-heading">Delete alert!</h4>
            <p>Are you sure you want to delete <strong>@Model.Name</strong> account?</p>
            <hr>
            <button class="btn btn-danger">Delete</button>
            <a asp-controller="Accounts" asp-action="Index" class="btn btn-secondary">
                Cancel
            </a>
        </form>
    </div>
</div>
